/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(231, 231, 231);
    color: #0f0f0f;
    padding: 20px;
}

/* Header */
.apresentacao {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 12px;
    padding: 20px;
    margin: 25px;
    text-align: center;
}

/* Main */
main {
    padding: 20px;
}

#principal {
    margin: 20px;
}

.vaga {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
}

.descricao {
    text-align: center;
    margin: 20px;
}

.imagem {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}

.formulario {
    margin: 0 auto;
    width: 400px;
}

label {
    margin: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #005c99;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

button:hover {
    background-color: #003f66;
}

/* Footer */
footer {
    background-color: #0d0d0d;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 40px;
}