/*Meu projeto CSS*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(223, 255, 244);
    color: #333;
}

.apresentacao {
    background-color: aquamarine;
    border: 1px solid #333;
    border-radius: 12px;
    padding: 15px;
    margin: 25px;
    text-align: center;
}

main {
    padding: 20px;
}

#principal {
    margin: 20px;
}

.curiosidades {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
}

.imagem {
    width: 300px;
    height: auto;
    margin: 40px;
    border-radius: 20px;
}

h2 {
    padding: 10px;
}

.curiosidade {
    padding: 10px;
}

h3 {
    padding: 5px;
    color: #000;
}

p {
    padding: 5px;
}

a {
    color: #00857a;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}

a:hover {
    background: #00857a;
    color: white;
    text-decoration: none;
    padding: 5px;
}

footer {
    background-color: #02005c;
    color: white;
    padding: 35px;
    text-align: center;
}